.dropdown {
    background-color: var(--magnolia);
    right:-125%;
    top:-20px;
    width:250px;
    height:100vh;
}

.hl {
    background-color: lightgray;
    height: 1px;
    width:80%;
    margin-left: 10%;
}

.nav-user {
    font-size: 30px;
    color: black;
}

.menu-user {
    font-size: 30px;
    color: black;
    margin-top: 10px;
}