@import url("../../../root.css");

html {
    background-image: linear-gradient(to left, var(--dark-spring-green-alpha50), var(--prussian-blue-alpha50)),
    url("../../../Resources/backgrounds/qbkls.png") !important;
    height: 100%;
}

h3 {
    white-space: nowrap;
}

.modal {
    background-color: transparent;
}

.venueForm {
}

.formTitle {
    white-space: nowrap;
}

.input {
    margin: 17px 0px 0px 10px;
    width: 500px!important;
}