@import url("../../../root.css");

body{
    background-color: var(--grey-dark-alpha);
}

h3 {
    white-space: nowrap;
}

.modal {
    background-color: transparent;
}

.venueForm {
}

.formTitle {
    white-space: nowrap;
}

.input {
    margin: 17px 0px 0px 10px;
    width: 500px!important;
}