@import url("../../../root.css");

.partner-nav{
    background-color: var(--magnolia-alpha50);
    height: 12vh;
    box-shadow: 0 0 10px ;
    margin-bottom: 5vh;
}

.partner-title {
    margin-left: 5%;
    font-size: 50px;
    color: var(--grey-dark)
}

