@import "../../root.css";

nav{
    background-color: var(--grey-dark);
    background-size: cover;
    height: 500px;
    transition: background-image 2s;
}

.title {
    margin-left: 5%;
    font-size: 50px;
    color: white;
}

button {
    color: white;
}



form {
    width: 70%;
    margin-left: 15%;
}