@import url("../../../root.css");

.background {
    transition: background-image 2s;
}

.panel {
    background-color: var(--magnolia-alpha50);
    width: 600px;
    height: 100vh;
    transition: width 1s;
}

form {
    transition: width 1s;
}

.loginForm {
    border-radius: 10px;
    background-color: var(--magnolia);
    box-shadow: 2px 2px 10px;
    padding: 20px;
    margin: 50% 10% 50% 10%;
    width:450px;
}

.registerForm {
    border-radius: 10px;
    background-color: var(--magnolia);
    box-shadow: 2px 2px 10px;
    padding: 20px;
    margin: 50% 10% 50% 10%;
    width:600px;
}

.labelDiv {
    margin: 35px 0px 20px 50px;
    text-align: right;
}

.inputs {
    margin: 20px 40px 10px 0px;
    width:200px!important;
}

.buttons {
    margin: 20px 30px 10px 30px;
}

.message {
    white-space: nowrap;
    color: darkred;
}
