@import url("../../../root.css");

.booking-entry {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.booking-entry-modal {
    background-color: var(--magnolia);
    width: 100%;
    height: 100%;
    padding: 20px;
}

.booking-entry-detail {
    padding: 0;
    margin: 0 0 10px 0;
}

.booking-entry-text {
    padding: 1% 0 0 10%;
    margin: 0;
    text-overflow: ellipsis;
    font-size: 100%;
    font-weight: 500;
    width: 100%;
    height: 100%;
}

.booking-entry-button-row {
    padding: 0 20% 0 20%;
    margin-top: 20px;
}

.booking-entry-button {
    border: 1px solid var(--grey-dark);
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    height: 25px;
    text-align: center;
}

.booking-entry-button-close:hover {
    background-color: var(--grey-dark-alpha75);
}

.booking-entry-button-delete {
    margin-left: 25px !important;
    background-color: var(--delete-red-alpha75);
}

.booking-entry-button-delete:hover {
    background-color: var(--delete-red);
}